.ui-tabs.ui-tabs-vertical {
    padding: 0;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    position: relative;
    float: left;
    width: 100%;
    background: #005fb5 !important;
    border-radius: 4px 0 0 4px;
    /* border-right: 1px solid gray; */
    overflow-x: hidden;
}
.ui-tabs-active {
  background-color: #3E88CE;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    /* margin: 0.2em 0; */
    border: 1px solid rgb(91, 84, 209);
    border-width: 1px 0px 1px 0px;
    /* border-radius: 4px 0 0 4px; */
    overflow: hidden;
    position: relative;
    /* right: -2px; */
    z-index: 2;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    padding: 0.6em 0em;
    text-align: center;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
    /* background: aquamarine; */
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0.2em;
    padding-bottom: 0;
    border-right: 1px solid white;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    /* margin-bottom: 7px; */
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 100%;
    /* border-left: 1px solid gray; */
    border-radius: 0;
    position: relative;
    left: -1px;
    /* padding-top: 5px; */
    border-top: 10px solid rgb(87, 171, 255);
}
.iframes {
width: 100%;
height: 100%;
overflow-x: hidden;
}